<app-source-device-selection-menu *ngIf="audioLoaded" [deviceList]="deviceList|async" (deviceSelected)="loadDevice($event)"></app-source-device-selection-menu>
  <button *ngIf="!audioLoaded" mat-button (click)="loadAudio()">Load</button>
  <button *ngIf="audioLoaded" mat-button (click)="testAudio()">Test</button>
  <div *ngIf="audioLoaded" class="activeDeviceDisplay">
    <app-rnbo-device [id]="active_id|async"></app-rnbo-device>
    <!--
    <app-event-generator [device_id]="active_id|async" (items)="schedule.fillTable($event)"></app-event-generator>
    <app-midi-schedule></app-midi-schedule>
    <button mat-button (click)="playOstinato()">Play</button>
-->

  </div>